@import '../../variables.scss';

.heading {
  width: 90.5%;
  margin: 0 auto;
  display: flex;
  margin-top: 60px;

  h1 {
    font-size: 30px;
    font-weight: 700;

    span {
      font-size: 0.8125rem;
      font-weight: 400;
      margin-left: 10px;
    }
  }

  button {
    border: 2px solid $primary-color;
    border-radius: 20px;
    font-size: 0.9375em;
    background: transparent;
    padding: 0 1.2em;
    margin-left: 70px;
    color: $primary-color;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  .heading {
    align-items: center;

    h1 {
      font-size: 24px;

      span {
        margin: 0;
        display: flex;
        flex-direction: column;
      }
    }

    button {
      width: 50%;
      height: 45px;
    }
  }
}
