@import '../../../variables.scss';

.nav {
  width: 100%;
  height: 85px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;

  &__menu {
    display: none;
    margin-right: 5%;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

  &__auth {
    margin-right: 5%;

    &--true {
      display: flex;
      height: 100%;
      align-items: center;
      background: white;
      border: 1px solid transparent;
      padding: 0 1.5em;
      cursor: pointer;

      &:hover {
        background: $login-btn-bgcolor;
      }
    }
  }

  &__logo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    margin-left: 5%;

    span {
      font-family: inherit;
      color: #F2994A;
      font-weight: 500;
    }
  }

  &__user {
    background: transparent;
    border-radius: 100%;
    border: 1px solid $primary-color;
    width: 28px;
    height: 28px;
  }

  &__username {
    font-size: 1.2em;
    font-family: Poppins;
    margin-left: 15px;
  }

  &__user-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    color: $primary-color;
  }

  &__btn {
    font-size: 1em;
    height: 100%;
    border-style: none;
    cursor: pointer;

    &:nth-child(1) {
      background-color: transparent;
      margin-right: 50px;
      
      &:hover {
        color: $primary-color;
      }
    }

    &:nth-child(2) {
      background: $login-btn-bgcolor;
      border-radius: 10px;
      padding: .6em 1.8em;
      color: $primary-color;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .nav__auth {
    display: none;
  }

  .nav__menu {
    display: block;
  }
}
