@import '../../../variables.scss';

.journal-form {
  width: 40%;
  background-color: white;
  padding: 1.5em 1.5em 2em;
  border-radius: 5px;
  // font-family: 'Poppins', sans-serif;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  &__btn-close {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    position: relative;
    cursor: pointer;
  }

  &__close {
    position: absolute;
    top: 3px;
    left: 4px;
  }

  &__label {
    text-transform: capitalize;
    margin: 1em 0 .5em 0;
    font-family: 'Poppins', sans-serif;
  }

  &__content {
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;

    &:hover {
      border-color: $primary-color;
    }

    &:focus {
      border-color: $primary-color;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    background: $primary-color;
    color: white;
    border: none;
    font-size: 16px;
    padding: .5em 1em;
    border-radius: 5px;
    margin-top: 1.5em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
}
